# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# Backend
backend/__pycache__/
backend/*.py[cod]
backend/*$py.class
backend/ayurahar.db
backend/.venv/
backend/venv/
backend/env/

# Logs and databases
*.log
*.sqlite
*.db

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
